html , body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
body
{

    color:#DD9729;
    background-image: url(../img/baackgrund.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows:  20% 70% 10%;
    grid-template-areas:
     "header header"
     "aside main"
     "footer footer";
}
#menucheckbox{
    display: none;
}
#menuicon{
    display: none;
}
#logo{
    max-width: 100%;
}
header{
    grid-area:header;
   
    
}
#globalNav ul{
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    gap: 60px;

    justify-content: center;
    box-shadow:3px 3px 4px 4px #DD9729;
   
}
#globalNav a {
  display: block;
    text-decoration: none;
    color:#DD9729;
    font-size: 30px;

}
#globalNav li{
 
  justify-content: center;
}
a.thisBage{
    color: aliceblue !important;
}
#globalNav a:hover , #lokalNav a:hover {
    transform: scale(1.2);
    color: #c0d68d71;
}
main{
    
   
    grid-area: main;
    border-style: solid;
    border-radius: 10%;
    box-shadow: 5px 5px 5px;
    margin: 1%;
}
aside{
    grid-area: aside;
}

#lokalNav {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction:column;
    gap: 30px;
    list-style-type: none;
}

   
 #lokalNav li a {

    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100px;
    height: 125px;
   
    background-repeat: no-repeat;

    text-indent: -9999px;


    
}
#lokalNav li:nth-of-type(1) a {
    background-image: url(../img/ring.png);
}
#lokalNav li:nth-of-type(2) a {
    background-image: url(../img/Halsband.png);
}
#lokalNav li:nth-of-type(3) a {
    background-image: url(../img/Klockor.png);
}
#lokalNav li:nth-of-type(4) a {
    background-image: url(../img/Örhängen.png);
}


/* main div  {
    display: none;
}
 main div:target{
     display: block;
 } */
 figure img {
     width: 80px;
     height:80px;
     border-style: inset;
     border-radius: 10%;
 }
 #imgProduct{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 #imgProduct a {
     background-color: #DD9729;
     color: black;
     margin: 5px;
     font-size: large;

 }
#imgProduct input {
     display:none;
 }

 #imgProduct input + span {
     cursor: zoom-in;
 }
 #imgProduct span img:hover {
     background-color: #daa75571;
 }
 
 #imgProduct input:checked + span {
     cursor: zoom-out;
     position: fixed;
     background-color: #fcaa1e;
     opacity: 0.85;
     top:15%;
     left: 15%;
     right: 15%;
     bottom: 15%;
     border-radius: 20%;

     display: flex;
     justify-content: center;
     align-items: center;
 }
 #imgProduct input:checked + span img
 { background-color: rgb(12, 12, 12);
     width: auto;
     height: auto;
     max-width: 50vw;
     max-height: 50vh;

 }
 footer{
     grid-area: footer;
     padding: 5px;
     background-image:url(../img/footerback.png);
     background-size:cover;
     display: flex;
     flex-direction: row;
     gap: 4%;
     margin-top: 1%;
     margin-right: 0px;
    
    
 }
 footer img {
     width: 40px;
     height: 40px;
 }
 footer p , footer a {
     background-color: black;
     color: #DD9729;
     
 }
 /* stil for (butiken ) sida */
 picture{
     max-width: 100%;
     float:none;
     margin:5%;
     padding: 5%;
     width: 70%;
     justify-content: center;
 }
 #tider p, #map p {
     background-color: #DD9729;
     color: black;
 }
 th{
     color: aliceblue;
 }

 iframe
 {
     width: 200px;
     height: 200px;
 }
 #butikInformation {
     float: none;
     clear: none;
     margin: 5%;
     font-size: 20px;
 }
 #photos
 {
     display: flex;
     flex-direction: row;
     flex-grow: 1;
     flex-shrink: 1;
     flex-wrap: wrap;
     margin: 4%;
     gap: 10px;
     
 }
 #photos img {
     border-style: solid;
 }
 #photos img:hover {
     transform: scale(1.2);
     z-index: 99999;
 }
@media screen and (max-width:900px) {
    
        #lokalNav li a {

            display: block;
            width: auto;
            height:auto;
            text-indent: 0px;
        background-image:unset !important;
        font-size: 25px;
        font-style: italic;
        text-decoration: none;
        justify-content: center;

        color: #DD9729;
          }
          #lokalNav{
              flex-direction: row;
              gap: 20px;
              justify-content: center;
              box-shadow:3px 3px 4px 4px #DD9729;
          }
          body
          {display: block;
          }
        main {
            border-style: unset;
            box-shadow: none;
        }
    
    
}
@media screen and (max-width:500px){
    #menuicon {
        display: inline-block;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-image: url(../img/menuicon.png);
        margin: 0px;
    }
    
    #menucheckbox {
        display: none;
    }
    #menucheckbox ~ nav {
        display: none;
    }
    #menucheckbox:checked ~ nav {
        display: block;
    }
    #imgProduct input:checked + span {
        
        top:0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 20%;
   
       
    }
    #imgProduct input:checked + span img
 { 
     max-width: 100vw;
     max-height: 100vh;
    
}
#globalNav a {
    font-size: 20px;

}
#globalNav ul{
    margin-top: 0px;
    gap: 25px;
}
}




